.label {
    -fx-background-color: linear-gradient(to bottom right, #f4d9a7, #e9bd78);
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-color: #9d713d;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 6px;
}

.reply-label {
    -fx-background-color: linear-gradient(to bottom right, #d8ead2, #b6d7ac);
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-color: #66865d;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 3, 3);
}
